// color
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-orange-light-1: rgba(237, 164, 104, 0.13);
$color-grey-dark: rgb(48, 26, 26);
$color-grey-light: rgb(115, 106, 106);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;
