
.nav {
  display:inline-block;
  list-style: none;
  color: $color-white;
  padding-left:2rem;
  padding-right: 2rem;
  letter-spacing: 0.3rem;
  font-size: 1.3rem;

  &--whats-new,
  &--shop,
  &--sale {
    border-bottom: 0.2rem black;
    text-decoration: none;
    color:inherit;
  }
}
