/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ==================================
  Box Model
  ==================================
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  margin: 0px 0px;
}
/*
	===================================
	font-family
  ===================================
*/
.main-nav,
.sub-nav {
	font-family:'Oswald', sans-serif;
}

.title {
	font-family:  'Cormorant Garamond', serif;
}

.description {
	font-family: 'Roboto Condensed', sans-serif;
}

.col-one h3,
.col-two h3,
.col-three h3 {
	font-family:'Source Sans Pro', sans-serif;
}

.promotion-columns {
	font-family: 'Roboto Condensed', sans-serif;
}

.promotion-name,
#by-goldman-sachs {
	font-family: 'Roboto Condensed', sans-serif;
}

.promotion-description {
	font-family: 'Cormorant Garamond', serif;
}
/*
	=================================
	Navigation Bar
	=================================
*/

header {
	height: 100px;
}

.nav {
	padding-top: 60px;
}

.main-nav {
	margin-left:45px;
	float:left;
	display:inline;
}

.sub-nav {
	margin-right:80px;
	float: right;
}

.dropdown {
	display: inline;
}

.dropdown-button {
	border:none;
	position: relative;
	display:inline;
	padding: 0 10px;
}

.dropdown-button a {
	text-decoration: none;
	color:inherit;
}

.dropdown-button a:hover {
	color:#778cad;
}

.main-nav .dropdown-button {
	font-size: 17px;
	font-weight: bold;
	color: #575757;
}

.sub-nav .dropdown-button {
	font-size: 13px;
	font-weight: bold;
	color: #909090 ;
	padding-top: 6px;
	letter-spacing: 1px;
}

.logo {
	width: 70px;
	margin-left:120px;
	padding-top:15px;
	display:inline-block;
	float:left;
}

/*
	=======================================
	navigation---drop-down
	=======================================
*/

.dropdown-content {
	padding-top: 30px;
	padding-bottom:30px;
	width: 200px;
	display:none;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display:block;
	background-color: #4F596C;
	position:absolute;
}

.dropdown-content a {
	color:white;
	font-size: 13px;
	letter-spacing: 1px;
	padding:10px 8px;
	display: block;
	float:none;
	text-decoration: none;
	text-align: left;
}

.dropdown-content a:hover {
	color: #667276;
	background-color: #EDEEEE;
}

/*
  =================================
	buttons
	==================================
*/
.btn {
	margin: 0 18px;
	padding: 13px 50px;
	font-size: 12px;
	color:white;
	background-color:transparent;
	font-weight: 500;
	border-width:1.5px;
	border-color:white;
	letter-spacing: 1.5px;
}

.btn:hover {
	background-color: white;
	font-weight: 500;
	color:black;
}

.more-on-summit {
	background-color: transparent;
	font-size: 12px;
}



/*
  =======================================
	body---banner title & descriptions
	=======================================
*/
.report {
	clear:both;
}
.title {
	font-size: 50px;
	text-align: left;
	padding: 10px 20px;
	letter-spacing: 2px;
	font-weight: 550;
}

.description {
	font-size: 16px;
	padding: 20px 20px 25px 20px;
	line-height: 20px;
	font-weight:thin;
	letter-spacing: 1px;
}

/*
  ======================================
	body---Annual Report
	======================================
*/

.report {
	padding: 120px 0px 110px 40px;
	background-image: url("GoldmanSachs.jpg");
	background-size: 100%;
	color: white;
}

/*
	========================================
	body---Articles columns
	========================================
*/

.columns {
	padding: 30px 70px;
	line-height: 20px;
	margin: 0 0;
	background-color:#EEEEEE;
}

.col-one,
.col-two,
.col-three {
	display:inline-block;
	vertical-align: top;
	width: 31%;
	height: 500px;
	margin-left: 12px;
	margin-right:12px;
	background-color: white;
}

.column-content {
	padding:20px 30px;
}

.column-description {
	padding: 15px 0;
}

.image {
	width: 100%;
}

.col-one h3,
.col-two h3,
.col-three h3 {
	font-size: 28px;
	font-weight: bold;
	line-height: 30px;
	padding-bottom: 10px;

}

span {
	font-weight: bold;
	color: grey;
}


/*
  ====================================
	body-summit
	====================================
*/
.summit {
	clear: both;
	padding: 100px 0px 80px 40px;
	background-image: url("SmallBusiness.jpg");
	background-size:100%	;
	background-repeat: no-repeat;
	color:white;
}

.summit-title {
	padding-top: 20px;
}

.summit-small {
	padding:20px;
	font-style: italic;
	font-size: 22px;
	font-weight:100;
}

/*
	=============================================
	promotion -banner
	=============================================
*/
.promotion {
  background-color: #536878;
	height: 300px;
}

.promotion-banner {
	color: white;
	float:right;
	text-align: left;
	 padding-top:60px;
	 padding-right: 160px;
}

.promotion-image {
	float:left;
	margin: 0 0;
}
.promotion-name {
	font-size: 50px;
	font-weight: bold;
}

#by-goldman-sachs {
	font-size: 15px;
	padding-bottom: 35px;
	letter-spacing: 1px;
	font-weight: bold;
}
.promotion-description {
	font-size:24px;
	line-height:28px;
	font-weight: bold;
	letter-spacing: 0.5px;
}


/*
	=====================================
	promotion-columns
	=====================================
*/

.promotion-columns {
	background-color:#EEEEEE;
	clear:both;
	margin: 0 0;
}

.personal-loans {
	display: inline-block;
	width:40%;
	padding-top: 40px;
	padding-bottom: 80px;
	margin-left: 60px;
}

.online-saving-accounts {
	display: inline-block;
	width: 40%;
	margin-left:70px;
}

.personal-loans h3,
.online-saving-accounts h3 {
	font-size: 25px;
	padding-bottom: 28px;
	color: 	#686868;
	letter-spacing: 1px;
}

.personal-loans ul,
.online-saving-accounts ul {
	font-size:18px;
	list-style: inside;
	list-style-position: outside;
	line-height: 40px;
	color:	#808080;
	font-weight:lighter;
	padding-left: 18px;
}
